.custom-home-learn
  .custom-home-learn__background
    .custom-home-learn__container
      .custom-home-learn__title(v-html='props.title')
      .custom-home-learn__content(v-html='props.content')
      .custom-home-learn__columns
        .custom-home-learn__column(v-for='(blog, i) in allBlogs', v-if='blog.tags.includes(13)')
          router-link.custom-home-learn__image-box(:to='blog.slug')
            .custom-home-learn__image(:style='"backgroundImage: url(" + blog.acf.blog_posts.image + ");"')
          router-link.custom-home-learn__name(v-html='blog.acf.blog_posts.title', :to='blog.slug')
          .custom-home-learn__description(v-html='truncateService(blog.acf.blog_posts.content)')
          router-link.custom-home-learn__see-more(:to='blog.slug') See More...
