.pages-blog(v-if='blog')
  .pages-blog__hero(:style='"backgroundImage: url(" + blog.acf.blog_posts.hero + ");"')
  .pages-blog__background
    router-link.pages-blog__top-back-treatment(to='/treatments', v-if='blog.categories[0] <= 4')
      .pages-blog__icon-back
        Icon(name='LeftCarot')
      .pages-blog__back-text Back to Family and Cosmetic Dentistry
    router-link.pages-blog__top-back-treatment(to='/tmj-sleep-therapy-airway-orthodontics', v-if='blog.categories[0] === 6 || blog.categories[0] === 14 || blog.categories[0] === 16')
      .pages-blog__icon-back
        Icon(name='LeftCarot')
      .pages-blog__back-text Back to TMJ, Sleep Therapy & Airway Orthodontics
    router-link.pages-blog__top-back-faq(to='/faq', v-if='blog.categories[0] === 12')
      .pages-blog__icon-back
        Icon(name='LeftCarot')
      .pages-blog__back-text Back to FAQ
    .pages-blog__container
      .pages-blog__title(v-html='blog.acf.blog_posts.title')
      .pages-blog__content(v-html='blog.acf.blog_posts.content')
      router-link.pages-blog__bottom-back-treatment(to='/treatments') < Back to Treatments
    .pages-blog__service-container
      .pages-blog__services-main-title More Services
      swiper.pages-blog__services(:options='swiperOption')
        swiperSlide.pages-blog__service(v-for='(blog, j) in allBlogs', :key='j', v-if='blog.categories.includes(activeCategories)')
          .pages-blog__service-image-container(@click='visitBlog(blog.slug)')
            .pages-blog__service-image(:style='"backgroundImage: url(" + blog.acf.blog_posts.image + ");"')
          .pages-blog__service-title(v-html='blog.acf.blog_posts.title', @click='visitBlog(blog.slug)')
          .pages-blog__service-content(v-html='truncateService(blog.acf.blog_posts.content)')
          .pages-blog__service-see-more(@click='visitBlog(blog.slug)') See More...
      .pages-blog__container-pagination(v-if='numOfServices > 3')
        .pages-blog__pagination(slot='pagination')
      .pages-blog__prev-btn(v-if='numOfServices > 3')
        Icon(name='LeftCarot')
      .pages-blog__next-btn(v-if='numOfServices > 3')
        Icon(name='RightCarot')
    .pages-blog__service-index
      .pages-blog__service-link(v-for='(blog, k) in allBlogs', :key='k', v-if='blog.categories.includes(activeCategories)', @click='visitBlog(blog.slug)')
        .pages-blog__service-text {{ blog.acf.blog_posts.title }} +
