.custom-home-why

  &__background
    background: rgba(241, 242, 233, 0.3)

  &__container
    @extend .container--flex
    margin-top: 180px

    @media(max-width: $screen-sm)
      margin: 0
      margin-top: 32px
      padding: 0 30px

  &__giant-title
    position: absolute
    top: -160px
    left: calc(50% - 280px)
    font-size: 250px
    font-style: italic

    span
      position: relative
      top: -190px
      left: 420px

    @media(max-width: $screen-sm)
      display: none

  &__mobile-giant-title
    display: none
    margin-top: 32px
    width: 100%
    text-align: center
    font-family: italic
    font-size: 48px

    @media(max-width: $screen-sm)
      display: block

  &__row
    display: flex
    margin-top: 180px
    width: 100%

    @media(max-width: $screen-sm)
      display: block
      margin-top: 32px

  &__col-left
    margin-right: 12px
    width: calc(50% - 12px)

    @media(max-width: $screen-sm)
      margin-right: 0
      width: 100%

  &__left-top
    display: flex
    position: relative
    justify-content: flex-end
    margin-bottom: 24px

    @media(max-width: $screen-sm)
      display: block

    &--title-line
      position: absolute
      top: 225px
      left: 270px
      transition: all 0.6s ease-in-out
      z-index: 2
      background: $black
      width: 182px
      height: 2px

      @media(max-width: $screen-sm)
        display: none

    &--title
      position: absolute
      top: 75px
      right: 210px
      transition: all 0.4s ease-in-out
      z-index: 2
      color: $tussok
      font-size: 64px
      font-style: italic

      span
        position: relative
        right: 90px

      @media(max-width: $screen-sm)
        display: none

    &--mobile-title
      display: none
      margin: 16px 0
      text-align: center
      color: $tussok
      font-size: 32px
      font-style: italic

      @media(max-width: $screen-sm)
        display: block

    &--image
      @extend .img-norm
      width: 260px
      height: 260px

      @media(max-width: $screen-sm)
        width: 100%

    &--image-overlay
      transition: all 0.6s ease-in-out
      opacity: 0
      background: linear-gradient(to top, #000000, rgba(42, 42, 42, 0))
      width: 100%
      height: 100%

    &--content
      position: absolute
      top: 16px
      left: 0
      transition: all 0.4s ease-in-out
      opacity: 0
      width: 280px

      @media(max-width: $screen-sm)
        display: none

    &:hover

      .custom-home-why__left-top--title
        transform: translateX(290px)

        @media(max-width: $screen-sm)
          transform: none

      .custom-home-why__left-top--content
        transform: translateY(-10px)
        opacity: 1

      .custom-home-why__left-top--image-overlay
        opacity: 0.8

      .custom-home-why__left-top--title-line
        background: $marigold

    &--mobile-content
      display: none

      @media(max-width: $screen-sm)
        display: block

  &__left-bottom
    position: relative

    &--title-line
      position: absolute
      top: 150px
      left: 30px
      transition: all 0.6s ease-in-out
      z-index: 2
      background: $black
      width: 2px
      height: 247px

      @media(max-width: $screen-sm)
        display: none

    &--title
      transition: all 0.4s ease-in-out
      text-align: center
      color: $tussok
      font-size: 64px
      font-style: italic

      span
        position: relative
        left: 130px

        @media(max-width: $screen-sm)
          left: 0

      @media(max-width: $screen-sm)
        margin: 16px 0
        font-size: 32px

    &--image
      @extend .img-norm
      width: 100%
      height: 322px

      @media(max-width: $screen-sm)
        height: 260px

    &--image-overlay
      transition: all 0.6s ease-in-out
      opacity: 0
      background: linear-gradient(to top, #000000, rgba(42, 42, 42, 0))
      width: 100%
      height: 100%

    &--content
      position: absolute
      top: 350px
      transition: all 0.4s ease-in-out
      opacity: 0
      margin-left: 64px

      @media(max-width: $screen-sm)
        position: relative
        top: 0
        opacity: 1
        margin-left: 0

    &:hover

      .custom-home-why__left-bottom--title
        transform: translateY(-160px)

        @media(max-width: $screen-sm)
          transform: none

      .custom-home-why__left-bottom--content
        transform: translateY(-10px)
        opacity: 1

        @media(max-width: $screen-sm)
          transform: none

      .custom-home-why__left-bottom--image-overlay
        opacity: 0.8

      .custom-home-why__left-bottom--title-line
        background: $marigold

  &__col-right
    position: relative

    @media(max-width: $screen-sm)
      margin-top: 24px

    &--title
      transition: all 0.4s ease-in-out
      margin-right: 60px
      text-align: center
      color: $tussok
      font-size: 64px
      font-style: italic

      span
        position: relative
        left: 100px

        @media(max-width: $screen-sm)
          left: 0

      @media(max-width: $screen-sm)
        margin: 16px 0
        font-size: 32px

    &--title-line
      position: absolute
      top: 400px
      left: 60px
      transition: all 0.6s ease-in-out
      z-index: 2
      background: $black
      width: 2px
      height: 247px

      @media(max-width: $screen-sm)
        display: none

    &--image
      @extend .img-norm
      margin-top: 100px
      width: 559px
      height: 464px

      @media(max-width: $screen-sm)
        margin-top: 0
        width: 100%
        height: 260px

    &--image-overlay
      transition: all 0.6s ease-in-out
      opacity: 0
      background: linear-gradient(to top, #000000, rgba(42, 42, 42, 0))
      width: 100%
      height: 100%

    &--content
      position: absolute
      top: 588px
      transition: all 0.4s ease-in-out
      opacity: 0
      margin-left: 90px

      @media(max-width: $screen-sm)
        position: relative
        top: 0
        opacity: 1
        margin-left: 0

    &:hover

      .custom-home-why__col-right--title
        transform: translateY(-160px)

      .custom-home-why__col-right--content
        transform: translateY(-10px)
        opacity: 1

      .custom-home-why__col-right--image-overlay
        opacity: 0.8

      .custom-home-why__col-right--title-line
        background: $marigold

  &__button-container
    width: 100%
    text-align: center

  &__button
    display: inline-block
    margin: 0 auto
    margin-top: 62px
    margin-bottom: 236px
    border-radius: 10px
    background: $marigold
    padding: 8px 36px
    color: $white

    @media(max-width: $screen-sm)
      margin: 32px auto
