.tab-about-doctor

  &__background
    padding-top: 32px
    padding-bottom: 200px

    @media(max-width: $screen-sm)
      padding-top: 0
      padding-bottom: 0

  &__container
    @extend .container
    display: flex
    align-items: center
    justify-content: space-evenly
    max-width: unset

    @media(max-width: 850px)
      flex-direction: column

    @media(max-width: $screen-sm)
      margin: 0
      padding: 0 30px

  &__doctor-image
    @extend .img-norm
    width: 360px
    height: 540px

    @media(max-width: $screen-sm)
      width: 100%
      height: 440px

  &__bio-content
    display: flex
    position: relative
    // bottom: 440px
    // left: 280px
    // margin-bottom: -300px
    flex-direction: column
    align-items: center
    align-self: flex-end
    padding: 48px 96px
    width: 60%
    max-width: 1000px

    span
      display: inline-block
      max-width: 280px

    @media(max-width: 850px)
      align-self: center
      margin-top: 70px
      width: 80%

    @media(max-width: $screen-sm)
      bottom: 0
      left: 0
      margin: 0
      padding: 0 30px
      max-width: none

  &__bio-border
    position: absolute
    top: 0
    left: 0
    border: 1px solid $marigold
    width: 100%
    height: 100%

    @media(max-width: $screen-sm)
      padding-bottom: 32px
      height: calc(100% + 32px)

  &__name
    position: relative
    margin-top: -70px
    margin-bottom: 24px
    background: $white
    text-align: center
    font-size: 36px
    font-style: italic

    @media(max-width: $screen-sm)
      margin: 32px 0
      background: none
      padding-top: 32px

  &__text
    margin-bottom: 15px

  &__image
    @extend .img-norm
    // position: absolute
    // right: -195px
    // bottom: -275px
    float: right
    margin-bottom: 15px
    margin-left: 15px
    width: 455px
    height: 303px

    @media(max-width: $screen-sm)
      position: relative
      right: 0
      bottom: 0
      margin-top: 32px
      width: 100%
