.tab-about-doctor

  &__background
    padding-top: 32px

  &__container
    @extend .container

  &__doctor-image
    @extend .img-norm
    width: 360px
    height: 540px

  &__bio-border
    position: absolute
    top: 0
    left: 0
    border: 1px solid $marigold
    width: 100%
    height: 100%

  &__bio-content
    position: relative
    bottom: 440px
    left: 280px
    margin-bottom: -300px
    padding: 48px 96px
    max-width: 646px

    span
      display: inline-block
      max-width: 280px

  &__name
    position: relative
    margin-top: -70px
    margin-bottom: 24px
    background: $white
    font-size: 36px
    font-style: italic

  &__image
    @extend .img-norm
    position: absolute
    right: -195px
    bottom: -150px
    width: 455px
    height: 303px
