.custom-home-appointment

  &__background
    background:  rgba(241, 242, 233, 0.3)

  &__container
    @extend .container

  &__row
    display: flex
    margin-top: 211px

  &__col-left
    display: flex
    position: relative
    justify-content: flex-end
    margin-right: 12px
    width: calc(50% - 12px)

    &--title
      position: absolute
      top: 120px
      left: -84px
      transition: all 0.4s ease-in-out
      text-align: right
      color: $tussok
      font-size: 64px
      font-style: italic

    &--image
      @extend .img-norm
      width: 357px
      height: 478px

    &--content
      position: absolute
      top: 0
      left: 0
      transition: all 0.4s ease-in-out
      opacity: 0
      width: 180px

    &:hover
      cursor: pointer

      .custom-home-appointment__col-left--title
        transform: translateX(300px)

      .custom-home-appointment__col-left--content
        opacity: 1


  &__col-right
    position: relative
    margin-left: 12px
    width: calc(50% - 12px)

    &--image
      @extend .img-norm
      margin-top: 80px
      width: 457px
      height: 296px

    &--title
      transition: all 0.4s ease-in-out
      margin-top: 10px
      margin-left: 100px
      text-align: left
      color: $tussok
      font-size: 64px
      font-style: italic

    &--content
      position: absolute
      top: 390px
      left: 0
      transition: all 0.4s ease-in-out
      opacity: 0

    &:hover
      cursor: pointer

      .custom-home-appointment__col-right--title
        transform: translateY(-160px)

      .custom-home-appointment__col-right--content
        opacity: 1

  &__button
    display: inline-block
    margin: 0 auto
    margin-top: 62px
    margin-bottom: 88px
    border-radius: 10px
    background: $marigold
    padding: 8px 36px
    color: $white

    &:hover
      cursor: pointer

  .fade-in-nav
    @include fade-in-nav
