.custom-home-video
  .custom-home-video__background(style='background-image: url(/static/HomeVideoPlaceholder.jpg)')
    .custom-home-video__container
      .custom-home-video__box
        .custom-home-video__title(v-html='props.title')
        .custom-home-video__content-box
          .custom-home-video__gray-bar
          .custom-home-video__mobile-title(v-html='props.title')
          .custom-home-video__content(v-html='props.content')
          center
            a.custom-home-video__button(href='/treatments') See All Services
        
