.custom-faq-row
  .custom-faq-row__background
    .custom-faq-row__container
      .custom-faq-row__content-box
        .custom-faq-row__title(v-html='props.title')
        .custom-faq-row__content(v-html='props.content')
        .custom-faq-row__rows
          .custom-faq-row__row(v-for='(row, i) in props.rows', :key='i')
            .custom-faq-row__col-image
              .custom-faq-row__image(:style='"backgroundImage: url(" + row.image + ");"')
            .custom-faq-row__col-text
              .custom-faq-row__row-title(v-html='row.title')
              .custom-faq-row__description(v-html='row.description')
              .custom-faq-row__see-more See More...
