.custom-home-v2-welcome
  .custom-home-v2-welcome__background
    .custom-home-v2-welcome__container
      .custom-home-v2-welcome__black-bar
      .custom-home-v2-welcome__title(v-html='props.title')
      .custom-home-v2-welcome__content(v-html='props.content')
      
