.pages-home
  Loader(v-show='loading')
  HeroHome
  div(v-if='props && !loading')
    CustomHomeWelcome(:props='props.acf.custom_home_welcome')
    CustomHomeWhy(:props='props.acf.custom_home_why')
    CustomHomeVideo(:props='props.acf.custom_home_video')
    CustomHomeAppointment(:props='props.acf.custom_home_appointment')
    CustomHomeLearn(:props='props.acf.custom_home_learn')
    CustomHomeTestimonial(:props='props.acf.custom_home_testimonial')
      
