.custom-home-testimonial
  .custom-home-testimonial__background
    .custom-home-testimonial__container
      .custom-home-testimonial__title(v-html='props.title')
      SliderTestimonial(:props='props')
