.hero-home
  video.hero-home__video(src='/static/HomeHero.mp4', autoplay, muted, loop)
  .hero-home__image(style='background-image: url(/static/HomeVideoPlaceholder.jpg)')
  .hero-home__overlay
  .hero-home__waypoint-scroll(v-waypoint='{ active: true, callback: scrolled}')
