.tab-treatments-cosmetic(v-if='loading')
  .tab-treatments-cosmetic__background
    .tab-treatments-cosmetic__container
      .tab-treatments-cosmetic__content-box
        .tab-treatments-cosmetic__title(v-html='props.title')
        .tab-treatments-cosmetic__content(v-html='props.content')
        .tab-treatments-cosmetic__blog-container
          .tab-treatments-cosmetic__blog(v-for='(blog, i) in allBlogs', v-if='blog.tags.includes(8)')
            .tab-treatments-cosmetic__col-blog-image(@click='visitBlog(blog.slug)')
              .tab-treatments-cosmetic__blog-image(:style='"backgroundImage: url(" + blog.acf.blog_posts.image + ");"')
            .tab-treatments-cosmetic__col-blog-text
              .tab-treatments-cosmetic__blog-title(v-html='blog.acf.blog_posts.title', @click='visitBlog(blog.slug)')
              .tab-treatments-cosmetic__blog-summary(v-html='truncatePost(blog.acf.blog_posts.content)')
              .tab-treatments-cosmetic__blog-see-more(@click='visitBlog(blog.slug)') See More...
        .tab-treatments-cosmetic__services-title More Services
        .tab-treatments-cosmetic__service-container
          swiper.tab-treatments-cosmetic__services(:options='swiperOption')
            swiperSlide.tab-treatments-cosmetic__service(v-for='(blog, j) in allBlogs', :key='j', v-if='blog.categories.includes(3) && !blog.tags.includes(8)')
              .tab-treatments-cosmetic__service-image-container(@click='visitBlog(blog.slug)')
                .tab-treatments-cosmetic__service-image(:style='"backgroundImage: url(" + blog.acf.blog_posts.image + ");"')
              .tab-treatments-cosmetic__service-title(v-html='blog.acf.blog_posts.title', @click='visitBlog(blog.slug)')
              .tab-treatments-cosmetic__service-content(v-html='truncateService(blog.acf.blog_posts.content)')
              .tab-treatments-cosmetic__service-see-more(@click='visitBlog(blog.slug)') See More...
          .tab-treatments-cosmetic__container-pagination
            .tab-treatments-cosmetic__pagination(slot='pagination')
          .tab-treatments-cosmetic__prev-btn
            Icon(name='LeftCarot')
          .tab-treatments-cosmetic__next-btn
            Icon(name='RightCarot')
        .tab-treatments-cosmetic__service-index
          .tab-treatments-cosmetic__service-link(v-for='(blog, k) in allBlogs', :key='k', v-if='blog.categories.includes(3)', @click='visitBlog(blog.slug)')
            .tab-treatments-cosmetic__service-text {{ blog.acf.blog_posts.title }} +
        
