.custom-home-v2-testimonial
  .custom-home-v2-testimonial__background
    .custom-home-v2-testimonial__container
      .custom-home-v2-testimonial__title(v-html='props.title')
      SliderV2Testimonial(:props='props')
