.tab-about-tech

  &__container
    @extend .container
    padding: 0
    max-width: 100%
    @media(max-width: $screen-sm)
      margin-top: 0

  &__content-box
    margin: 0 auto
    padding-bottom: 64px
    max-width: 100%
    @media(max-width: $screen-sm)
      padding-bottom: 0

  &__title
    background: $color2
    padding: 30px
    text-align: center
    color: $white
    font-size: 64px
    @media(max-width: $screen-sm)
      font-size: 48px

  &__rows
    margin: 0
    max-width: 100%

  &__col-image
    margin: 20px
    @media(max-width: 875px)
      display: flex
      justify-content: center
      width: calc(100% - 40px)

  &__row
    display: flex
    flex-direction: row-reverse
    margin-top: 40px
    border-bottom: 50px solid $color2
    padding: 0 5%
    @media(max-width: 875px)
      flex-direction: column

    &:nth-child(2)
      flex-direction: row
      @media(max-width: 875px)
        flex-direction: column

  &__col-text
    margin-bottom: 20px
    padding-right: 25px

  &__image
    box-shadow: 0 10px 6px -6px rgba(0, 0, 0, 0.5)

  &__row-title
    margin-bottom: 18px
    text-decoration: underline
    color: $color2
    font-size: 48px
    font-style: italic
    @media(max-width: 875px)
      text-align: center
