.footer(v-if='props')
  .footer__background
    .footer__background-line
    .footer__container
      .footer__col-left
        .footer__contact-box
          .footer__label Contact
          a.footer__address(v-html='props.acf.footer.address', :href='props.acf.footer.address_link', target='_blank')
          a.footer__phone-number(v-html='props.acf.footer.phone', :href='props.acf.footer.phone_link')
      .footer__col-center
        router-link.footer__logo-box(to='/')
          .footer__logo(style='background-image: url(/static/MunkelLogo.png)')
      .footer__col-right
        .footer__social-box
          a.footer__facebook(:href='props.acf.footer.facebook_link', target='_blank')
            Icon(name='FooterFacebook')
          a.footer__phone(:href='props.acf.footer.phone_link')
            Icon(name='FooterPhone')
          a.footer__form(:href='props.acf.footer.form_link', target='_blank')
            Icon(name='FooterForm')
          .footer__calendar(@click='toggleModalContact')
            Icon(name='FooterCalendar')
              
  transition(name='fade-in-nav')
    ModalContact(v-if='activeModal', @hideModalContact='toggleModalContact')
  
