.custom-home-welcome
  .custom-home-welcome__background
    .custom-home-welcome__container
      .custom-home-welcome__black-bar
      .custom-home-welcome__title(v-html='props.title')
      .custom-home-welcome__content(v-html='props.content')
      
